body {
    background-color: #efefef;
}

fieldset {
    background-color: white;
}

.blue-box,
.orange-box {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.blue-box {
    background-color: blue;
    position: relative;
    top: 40px;
}

.orange-box {
    background-color: orange;
    position: relative;
    bottom: 40px;
}

.outer-layer-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.outer-layer-4 > p + p {
    color: orange;
}

.inner-layer-5 {
    grid-column-start: 2;
    grid-column-end: 6;
}

.outer-layer-6 {
    box-shadow: 0 0 4px 1px rgba(0, 0, 255, 0.6);
}

.outer-layer-7 {
    overflow-y: scroll;
    overflow-x: hidden;
}

.uppercase.bold {
    font-family: "Courier New", Courier, monospace;
}
